[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GLCMTextures"]
	path = GLCMTextures
	url = https://github.com/ailich/glcmtextures
[submodule "MultiscaleDTM"]
	path = MultiscaleDTM
	url = https://github.com/ailich/multiscaledtm
